.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f7fd;
  padding: 1vh;
  height: 8vh;
}

.top-icons {
  display: flex;
  gap: 0.5vw; /* הקטנת המרווח בין האייקונים */
}

.icon {
  width: 2vw;  /* הקטנת רוחב האייקון */
  height: 4vh; /* הקטנת גובה האייקון */
  cursor: pointer;
}

.user-icon {
  background-color: #27c95a;
  border-radius: 50%;
  padding: 0.3vh; /* הקטנת הפדינג */
}


.white-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 40vw;
  height: 6vh;
  justify-content: space-between;
}

.search-input {
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-grow: 1;
  direction: rtl;
  padding-right: 0.5rem;
}

.white-box-icons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.file-type-dropdown {
  border: 0.1rem solid #000;
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: #fff;
  font-size: 1rem;
  width: 100%;
  max-width: 15rem;
  direction: rtl;
}

.dropdown-container {
  position: relative;
  width: 100%;
  max-width: 15rem;
  direction: rtl;
}

.dropdown-header {
  background-color: white;
  font-size: 1rem;
  border: 0.1rem solid #000;
  border-radius: 0.3rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-options {
  list-style: none;
  margin: 0;
  background-color: white;
  position: absolute;
  width: 100%;
  top: 2vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-options li {
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: right;
}

.filter-details-container {
  position: absolute;
  top: 7vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  width: 90%;
  max-width: 30rem;
}

.filter-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
}

.filter-row label {
  font-size: 1rem;
  margin-bottom: 0.5vh;
}

.filter-row input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

.filter-details-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}

.filter-column {
  flex: 1 1 45%;
  min-width: 20vw;
}

button:hover {
  background-color: #008000; /* ירוק כהה יותר במעבר עכבר */
}
.upload-button {
  background-color: #27c95a; /* ירוק */
  color: white; /* טקסט לבן */
  border: none;
  border-radius: 20px;
  padding: 0.5vh 1vw; /* ריווח פנימי */
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 1vw; /* רווח קטן מימין */
}

.upload-button:hover {
  background-color: #008000; /* ירוק כהה */
}
.top-icons {
  display: flex;
  align-items: center;
  gap: 1vw; /* מרווח קבוע בין האייקונים */
}
