.container {
  width: 100%;
  max-width: 75rem;
  margin: auto;
  font-family: Arial, sans-serif;
  direction: rtl;
  color: #333;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2%;
  border-bottom: 0.1em solid #ddd;
  font-size: 1.2rem;
}
.header span {
  font-size: 1rem;
  color: #777;
}
.filter-buttons {
  display: flex;
  gap: 1rem;
}
.filter-button {
  padding: 0.5em 1em;
  border: 0.1em solid #ddd;
  background-color: transparent;
  font-size: 1rem;
  color: #777;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.3s;
}
.filter-button.active,
.filter-button:hover {
  background-color: #007BFF;
  color: #fff;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 50rem;
  padding: 2vh 0;
  border-bottom: 0.1em solid #DCDCDC;
  transition: background-color 0.3s;
  cursor: pointer;
}
/* שינוי הרקע במעבר העכבר על הפריט */
.row:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}
.item-image {
  width: 5vw;
  height: 5vw;
  border-radius: 0.5rem;
  object-fit: cover;
}
.meta-label {
  font-weight: bold;
}
.meta-value {
  font-weight: normal;
}
.status {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 2em;
  color: #fff;
  text-align: center;
}
.status.sold {
  background-color: #FFCCCC;
  color: #D80000;
}
.status.unique {
  background-color: #FFF4CC;
  color: #D4A017;
}
.status.published {
  background-color: #D4F5D4;
  color: #007B00;
}
/* .actions {
  display: flex;
  gap: 1rem;
} */
.action-button {
  border: none;
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 2em;
  transition: all 0.3s;
  background-color: transparent;
}
.action-button.edit {
  border: 0.1em solid #28A745;
  color: #28A745;
}
.action-button.edit:hover {
  background-color: #28A745;
  color: #fff;
}
.action-button.delete {
  border: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
}
.action-button.delete:hover {
  background-color: #F3F7FD;
  cursor: pointer;
  color: red;
}
.action-button.favorite {
  color: red;
}
.action-button.not-favorite:hover,
.action-button.download:hover {
  color: #218838;
}
.action-button.order {
  background-color: #28A745;
  color: #fff;
  border-radius: 2em;
}
.action-button.order:hover {
  background-color: #218838;
  cursor: pointer;
}
/* מדיה קווריס לריספונסיביות במסכים קטנים */
@media (max-width: 48rem) {
  .row {
    flex-direction: column;
    align-items: flex-start;
  }
  .item-image {
    width: 20vw;
    height: 20vw;
  }
  .actions {
    justify-content: space-between;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: self-start;
  }
  .filter-buttons {
    flex-wrap: wrap;
  }
  .pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #444;
    margin: 10px 0;
  }
  .pagination-container .arrow {
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    color: #888;
    transition: color 0.3s;
  }
  .pagination-container .arrow:hover {
    color: #000;
    cursor: pointer; 
  }
}
.file-extension-container {
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
  width: 5vw;
  background-color: #F8F8F8;
  border: 1px solid #ddd;
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  border-radius: 0.5rem;
  object-fit: cover;
}
.file-icon {
  font-size: 1rem;
}
.pdf-icon {
  color: red;
}
.doc-icon {
  color: blue;
}
.jpg-icon,
.png-icon {
  color: green;
}
.default-icon {
  color: gray;
}
.my-custom-snackbar {
  background-color: green;
  color: white;
}
.error-snackbar {
  background-color: red;
  color: white;
}
/* עיצוב הגריד של הכרטיסיות */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  width: 80vw;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
/* עיצוב הכרטיסיות */
/* .card-container .item-card {
  display: flex;
  top: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  max-width: 19vw;
  max-height: 30vh;
  min-width: 19vw;
  min-height: 30vh;
} */
.card-container .item-card .item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 20vw;
  max-height: 30vh;
  min-width: 20vh;
  min-height: 30vh;
  border-radius: 1rem;
}
@media (max-width: 1200px) {
  .card-container .item-card .item-image {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .card-container .item-card .item-image {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 480px) {
  .card-container .item-card .item-image {
    width: 100%;
    height: 100%;
  }
}
/* עיצוב הרשימה */
.list-container {
  display: block;
  top: 1rem;
  width: 70vw;
}
.item-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
  border-bottom: 0.2vh solid #ccc;
  padding: 1rem;
}
.item-image {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.1rem;
  object-fit: cover;
  max-width: 20vw;
  max-height: 30vh;
  min-width: 20vw;
  min-height: 30vh;
}
.mat-mdc-card-header {
  padding: 0 !important;
}
/* עיצוב לרשימה בלבד */
.list-container .item-row {
  height: 5rem;
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
}
.list-container .item-row .item-image {
  height: 4rem;
  width: auto;
  object-fit: cover;
  max-width: 7vw;
  max-height: 12vh;
  min-width: 7vw;
  min-height: 12vh;
}
.view-toggle-button {
  margin-bottom: 1.5rem;
  position: absolute;
  top: 11.2vh;
  left: 0.5vw;
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
}
mat-icon {
  font-size: 1.5rem;
}
/* עיצוב של המפצל בין כרטיסיות לרשימה */
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;
  background-color: #FFFFFF;
}

.item-card-content {
  display: none;
  position: absolute;
  background: rgba(133, 130, 130, 0.9);
  padding: 1rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  /* justify-content: center; */
  align-items: self-start;
  justify-content: space-between;
  /* text-align: end; */
  /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); */
}

.item-card:hover .item-card-content {
  display: flex;
  max-width: 17.5vw;
  max-height: 25vh;
  border-radius: 1rem;

}

/* .item-card-header:hover {
  position: relative;
  cursor: pointer;
} */
.item-image:hover {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  cursor: pointer;
}
.overlay-svg:hover{
  cursor: pointer;
}
.overlay-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 14vh;
  width: 15vw;
  fill: #FFFF;
}
.item-image-list {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
}
.overlay-svg-list {
  position: absolute;
  top: 2vh;
  left: 53.5vw;
  width: 3rem;
  height: 3rem;
  fill: #fff;
}
.item-content {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.item-details {
  flex: 1;
}
/* .item-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #007BFF;
  margin-bottom: 0.3em;
} */
/* .item-title {
  font-size: 1rem;
  color: #666;
} */
.item-meta-card {
  font-size: 0.9rem;
  color: #FFFF;
  line-height: 20rem;
}
.no-data-message{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F8F9FA;
  border: 0.5vh dashed #11457B;
  border-radius: 1rem;
  padding: 2vw;
  margin: 20vh auto;
  font-size: 2rem;
  max-width: 400vw;
  box-shadow: 0 4vh 6vh rgba(0, 0, 0, 0.1);
}
.no-data-message p{
  margin-top: 6vh;
  color: #6C757D;
  text-align: center;
  font-weight: 500;
}
.icon-no-data-message {
  margin-top: 6vh;
  font-size: 2rem;
  color: #11457B;
  margin-bottom: 10vh;
}
.item-content {
  position: relative;
}
.new-label {
  position: absolute;
  top: 0.8vh;
  /* left: -10vw; */
  right: -0.1vw;
  width: 2.5vw;
  background-color: #359149;
  color: white;
  object-fit: cover;
  padding: 0.1rem 0.1rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  z-index: 1;
}

.matPagin{
  direction: ltr;
}
.disabled {
  pointer-events: none;
  opacity: 0.6; 
}
