<!-- <div class="table-container">
  <div *ngFor="let item of items" class="row">
    <div class="item-content">
      <img [src]="item.coverImage || 'assets/default-image.png'" alt="Item Image" class="item-image">
      <img [src]="item.coverImage" alt="Item Image" class="item-image">
      <div class="item-details">
        <div class="item-title">{{ item.title }}</div>
        <div class="item-description">{{ item.description }}</div>
        <div class="item-meta">
          מחבר: {{ item.Author }} | תאריך הוצאה: {{ item.pablicationDate | date:'dd/MM/yyyy' }}
        </div>
      </div>
    </div>
    <div class="status" [ngClass]="{'published': item.status === 'published', 'sold': item.status === 'sold'}">
      {{ item.status }}
    </div>
    <div class="actions">
      <button class="action-button edit">ערוך</button>
      <button class="action-button delete">מחק</button>
    </div>
  </div>
</div> -->

<div class="table-container">
  <div class="row" *ngFor="let item of items">
    <div class="item-content">
      <img [src]="item.coverImage || 'assets/default-image.png'" alt="Item Image" class="item-image">
      <div class="item-details">
        <div class="item-title">{{ item.title }}</div>
        <div class="item-description">{{ item.description }}</div>
        <div class="item-meta">
          מחבר: {{ item.Author }} | תאריך הוצאה: {{ item.pablicationDate | date:'dd/MM/yyyy' }}
        </div>
      </div>
    </div>
    <div class="actions">
      <button class="action-button edit">ערוך</button>
      <button class="action-button delete " click="deleteResource(item)">מחק</button>
    </div>
  </div>
</div>