
<div class="table-container" style="direction: rtl">
  <div class="row" *ngFor="let item of items">
    <div class="item-content">
      <img
        [src]="item.coverImage || 'assets/default-image.png'"
        alt="Item Image"
        class="item-image"
      />

      <div class="item-details">
        <div class="item-title">{{ item.title }}</div>
        <div class="item-description">{{ item.description }}</div>
        <div class="item-meta">
          <span class="meta-label">מחבר:</span> <span class="meta-value">{{ item.Author }}</span> |
          <span class="meta-label">תאריך הוצאה:</span> <span class="meta-value">{{ item.pablicationDate | date:'dd/MM/yyyy' }}</span>
        </div>
        
      </div>
    </div>

  <!-- הצגת כפתורים לספרנית -->
  <div class="actions" *ngIf="userType === 'Librarian'">
    <button class="action-button delete" (click)="deleteResource(item)">
      <i class="far fa-trash-alt"></i> 
    </button>
    <button class="action-button edit" (click)="editItem(item)">עריכה</button>
  </div>

  <!-- הצגת כפתורים לתלמידה -->
  <div class="actions" *ngIf="userType === 'Student'">
    <button class="action-button favorite" (click)="addToFavorites(item)">
      <i class="far fa-heart"></i> 
    </button>
    <!-- כפתורים להורדה עבור Article, Video, Scanned Document -->
    <button class="action-button download" *ngIf="item.type === 'תמונה' || item.type === 'סרטון' || item.type === 'שיר' || item.type === 'מערך'" (click)="downloadResource(item)">
      <i class="fas fa-download"></i> 
    </button>

    <!-- כפתור להזמנה עבור Book -->
    <button class="action-button order" *ngIf="item.type === 'ספר'">
      להזמנה
    </button>
  </div>
  </div>
</div>
<router-outlet></router-outlet>

<div class="pagination-container">
  <mat-paginator
  [length]="totalItems"
  [pageSizeOptions]="[2, 4, 6, 8]"
  (page)="onPageChange($event)"
  showFirstLastButtons
  >
</mat-paginator> 
</div>
