<nav class="sidebar">
  <div class="sidebar-header">
    <img src="assets/books-icon.png" alt="ספרים" class="sidebar-icon" />
    <h2 class="sidebar-title">מרחבית</h2>
  </div>
  <ul class="sidebar-menu">
    <li>
      <a (click)="onSelectFilter('all')">
        <i class="far fa-calendar-alt"></i> הכל
      </a>
    </li>
    <li>
      <a (click)="onSelectFilter('מערך')">
        <i class="fas fa-layer-group"></i> מערכים
      </a>
    </li>
    <!-- תמונות -->
    <li>
      <a (click)="toggleSubMenu('images')">
        <i class="far fa-image"></i> תמונות
        <i
          class="fas fa-chevron-down submenu-icon"
          [ngClass]="{ open: activeSubMenu === 'images' }"
        ></i>
      </a>
      <ul class="submenu" *ngIf="activeSubMenu === 'images'">
        <li><a (click)="onSelectFilter('כרזה')">כרזות</a></li>
        <li><a (click)="onSelectFilter('דף עבודה')">דפי עבודה</a></li>
        <li><a (click)="onSelectFilter('איור')">איורים</a></li>
        <li><a (click)="onSelectFilter('יצירה')">יצירות</a></li>
      </ul>
    </li>

    <li>
      <a (click)="onSelectFilter('סרטון')">
        <i class="fas fa-play"></i> סרטונים
      </a>
    </li>

    <li>
      <a (click)="onSelectFilter('שיר')">
        <i class="fas fa-music"></i> שירים
      </a>
    </li>

    <!-- <li>
      <a (click)="onSelectFilter('ספר')">
        <i class="fas fa-book"></i> ספרים
      </a>
    </li> -->

    <li>
      <a (click)="toggleSubMenu('books')">
        <i class="fas fa-book"></i> ספרים
        <i
          class="fas fa-chevron-down submenu-icon"
          [ngClass]="{ open: activeSubMenu === 'books' }"
        ></i>
      </a>
      <ul class="submenu" *ngIf="activeSubMenu === 'books'">
        <li><a (click)="onSelectFilter('ספר דיגיטלי')">ספר דיגיטלי</a></li>
        <li><a (click)="onSelectFilter('ספר להשאלה')">ספר להשאלה</a></li>
      </ul>
    </li>

    <!-- כפתור ניהול תגיות - מוצג לכל תפקיד שאינו STUDENT -->
      <li *ngIf="userType !== 'Student'">
        <a (click)="tagManagementButton('management')">
          <i class="fas fa-user-cog"></i> ניהול
        </a>
      </li>
  </ul>
</nav>
