<mat-tab-group  (selectedTabChange)="onTabChange($event)">
    <mat-tab label="ניהול תגיות"></mat-tab>
    <mat-tab label="ניהול התמחויות"></mat-tab>
    <mat-tab label="ניהול נושאים"></mat-tab>
    <mat-tab *ngIf="userType==='Admin' || userType==='Site Manager'" label="ניהול משתמשים" ></mat-tab> 
    <mat-tab *ngIf="userType==='Admin' || userType==='Site Manager'" label="ניהול סמינרים"></mat-tab>
    <mat-tab *ngIf="userType==='Admin'" label="ניהול כיתות"></mat-tab>
  </mat-tab-group>
  <router-outlet></router-outlet>
