<div class="login-container">
  <div class="login-form">
    <h2 class="greeting">שחזור סיסמא</h2>
    <p class="info-text">שלחנו לך קוד אימות למייל לחידוש סיסמא</p>

    <form (ngSubmit)="onSubmitVerifyCode()">
      <div class="input-group">
        <label for="code">קוד אימות</label>
        <input 
          type="text" 
          id="code" 
          [(ngModel)]="code" 
          name="code" 
          placeholder="הזן קוד" 
          required 
        />
      </div>
      <button type="submit" class="submit-btn">המשך</button>
    </form>

    <div class="timer">
      <p>קוד איפוס סיסמא יפוג בעוד <span>{{ remainingTimeMinutes }} דק' {{ remainingTimeSeconds }} שניות</span></p>
    </div>

    <div *ngIf="remainingTime === 0">
      <button (click)="sendResetEmailAgain()" class="resend-btn">שלח קוד אימות מחדש</button>
    </div>

    <!-- הצגת שגיאה אם יש -->
    <div *ngIf="errorMessage" class="error-message">
      <div class="error-box">
        <p>{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>
