<div class="login-container">
  <div class="login-form">
    <h1 class="greeting">שלום, טוב לראות אותך</h1>
    <div class="input-group">
      <label for="identity">תעודת זהות</label>
      <input
        id="identity"
        type="text"
        [(ngModel)]="identity"
        placeholder="035695874"
      />
    </div>
    <button class="submit-btn" (click)="nextStep()">המשך</button>
    <div class="footer">
      <span class="register-link">אין לך חשבון?
        <a (click)="navigateToRegistration()">להרשמה</a>
      </span>
    </div>
  </div>
</div>
