<div class="password-change-container">
  <div class="password-change-form">
    <h2 class="greeting">שינוי סיסמה</h2>
    <form (ngSubmit)="onChangePassword()">
      <div class="input-group">
        <label for="currentPassword">סיסמה נוכחית</label>
        <input
          type="password"
          id="currentPassword"
          [(ngModel)]="currentPassword"
          name="currentPassword"
          required
        />
      </div>
      <div class="input-group">
        <label for="newPassword">סיסמה חדשה</label>
        <input
          type="password"
          id="newPassword"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
        />
      </div>
      <div class="input-group">
        <label for="confirmPassword">אימות סיסמה חדשה</label>
        <input
          type="password"
          id="confirmPassword"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        />
      </div>
       <!-- הצגת שגיאה אם יש -->
    <div *ngIf="errorMessage" class="message">
      <div class="error-box">
        <p>{{ errorMessage }}</p>
      </div>
    </div>
    <div *ngIf="successMessage" class="message">
      <div class="success-box">
        <p>{{ successMessage }}</p>
      </div>
    </div>
      <button type="submit" class="submit-btn">שמור</button>
    </form>

    <div class="footer">
      <p class="forgot-password">
        <a (click)="cancel()">ביטול</a>
      </p>
    </div>
  </div>
</div>
