/* מיכל כללי */
.personal-details-container {
  margin-top: 40px;
  direction: rtl; /* כתיבה מימין לשמאל */
  text-align: right; /* יישור התוכן לשמאל */
  width: 50%; /* רוחב המיכל */
  margin-left: auto; /* יידחוף את המיכל לימין */
  margin-right: 70px; /* צמוד לצד ימין */
}

/* סרגל כרטיסיות */
.nav-tabs {
  font-size: 18px; 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.nav-tabs div {
  padding: 15px 25px; /* טאב גדול יותר */
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.nav-tabs div.active {
  border-bottom: 2px solid #000; /* קו תחתון לטאב הנבחר */
  color: #000;
}

/* טופס הגריד */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* שני טורים שווים */
  gap: 20px;
}

/* כל קבוצת שדות */
.form-group {
  display: flex;
  flex-direction: column;
}

/* כותרות של השדות */
label {
  font-size: 18px; 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

/* עיצוב השדות */
input {
  font-size: 18px; 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

/* כפתורים */
.button-group {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
  direction: ltr;
}

.save-button {
  background-color: #4caf50;
  color: white;
  font-size: 20px; /* גודל פונט גדול יותר */
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.cancel-button {
  background-color: white;
  color: #f44336;
  font-size: 20px; /* גודל פונט גדול יותר */
  border: 2px solid #f44336;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}
