<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>רישום תלמידה חדשה</title>
  </head>
  <body>
    <div class="registration-container">
      <h1>פרטים אישיים</h1>
      <!--<form
        [formGroup]="registrationForm"
        (ngSubmit)="onSubmit()"
        class="registration-form"
      >-->
        <div class="form-row">
          <div class="form-field">
            <label for="firstName">שם פרטי:</label>
            <input id="firstName" formControlName="firstName" type="text" />
          </div>
          <div class="form-field">
            <label for="lastName">שם משפחה:</label>
            <input id="lastName" formControlName="lastName" type="text" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-field">
            <label for="phone">טלפון נייד:</label>
            <input id="phone" formControlName="phone" type="text" />
          </div>
          <div class="form-field">
            <label for="specialty">התמחות:</label>
            <select id="specialty" formControlName="specialty">
              <option *ngFor="let option of specialties" [value]="option">
                {{ option }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-field">
            <label for="seminary">סמינר:</label>
            <select id="seminary" formControlName="seminary">
              <option *ngFor="let option of seminaries" [value]="option">
                {{ option }}
              </option>
            </select>
          </div>
          <div class="form-field">
            <label for="classRole">מעמד / תפקיד:</label>
            <select id="classRole" formControlName="classRole">
              <option *ngFor="let option of classRoles" [value]="option">
                {{ option }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-buttons">
         <!-- <button
            type="submit"
            [disabled]="registrationForm.invalid"
            class="submit-btn"
          >
            אישור
          </button>-->
        </div>
      
    </div>
  </body>
</html>
