<div class="registration-container">
  <form
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()"
    class="registration-form"
  >
    <h1>הרשמה</h1>

    <!-- <label for="firstName">שם פרטי</label>
    <input formControlName="firstName" type="text" placeholder="רבקה" />
    <div
      *ngIf="registrationForm.get('firstName')?.touched && registrationForm.get('firstName')?.invalid"
      class="error-message"
    >
      <small>שדה חובה</small>
    </div> -->

    <label for="firstName">שם פרטי</label>
    <input formControlName="firstName" type="text" placeholder="רבקה" />
    <div
      *ngIf="registrationForm.get('firstName')?.touched  && registrationForm.get('firstName')?.invalid"
      class="error-message"
    >
      <small>שדה חובה</small>
    </div>

    <label for="lastName">שם משפחה</label>
    <input formControlName="lastName" type="text" placeholder="כהן" />
    <div
      *ngIf="registrationForm.get('lastName')?.touched && registrationForm.get('lastName')?.invalid"
      class="error-message"
    >
      <small>שדה חובה</small>
    </div>

    <label for="idNumber">תעודת זהות</label>
    <input formControlName="idNumber" type="text" placeholder="123456789" />
    <div
      *ngIf="registrationForm.get('idNumber')?.touched && registrationForm.get('idNumber')?.invalid"
      class="error-message"
    >
      <small *ngIf="registrationForm.get('idNumber')?.errors?.['required']">
        שדה חובה
      </small>
      <small *ngIf="registrationForm.get('idNumber')?.errors?.['minlength']">
        ת.ז חייבת לכלול בדיוק 9 תווים
      </small>
      <small *ngIf="registrationForm.get('idNumber')?.errors?.['maxlength']">
        ת.ז חייבת לכלול בדיוק 9 תווים
      </small>
    </div>

    <label for="address">כתובת</label>
    <input formControlName="address" type="text" placeholder="שאגת אריה 3" />
    <div
      *ngIf="registrationForm.get('address')?.touched && registrationForm.get('address')?.invalid"
      class="error-message"
    >
      <small>שדה חובה</small>
    </div>

    <label for="phone">טלפון נייד</label>
    <input formControlName="phone" type="text" placeholder="0533171258" />
    <div
      *ngIf="registrationForm.get('phone')?.touched && registrationForm.get('phone')?.invalid"
      class="error-message"
    >
      <small *ngIf="registrationForm.get('phone')?.errors?.['required']"
        >שדה חובה</small
      >
      <small *ngIf="registrationForm.get('phone')?.errors?.['pattern']"
        >מספר טלפון לא תקין</small
      >
    </div>

    <label for="email">מייל</label>
    <input
      formControlName="email"
      type="email"
      placeholder="example@gmail.com"
    />
    <div
      *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.invalid"
      class="error-message"
    >
      <small *ngIf="registrationForm.get('email')?.errors?.['required']"
        >שדה חובה</small
      >
      <small *ngIf="registrationForm.get('email')?.errors?.['email']"
        >כתובת מייל לא תקינה</small
      >
    </div>
    <label for="password">סיסמה</label>
    <input
      formControlName="password"
      type="password"
      placeholder="הכנס סיסמה"
    />
    <div
      *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.invalid"
      class="error-message"
    >
      <small *ngIf="registrationForm.get('password')?.errors?.['required']"
        >שדה חובה</small
      >
      <small *ngIf="registrationForm.get('password')?.errors?.['minlength']"
        >סיסמה חייבת להכיל לפחות 6 תווים</small
      >
    </div>

    <label for="confirmPassword">אימות סיסמה</label>
    <input
      formControlName="confirmPassword"
      type="password"
      placeholder="הכנס שוב סיסמה"
    />
    <div *ngIf="registrationForm.errors?.['mismatch']" class="error-message">
      <small>הסיסמאות אינן תואמות</small>
    </div>

    <div
      *ngIf="registrationForm.get('confirmPassword')?.touched && registrationForm.get('confirmPassword')?.invalid"
      class="error-message"
    >
      <small>שדה חובה</small>
    </div>

    <div
      *ngIf="registrationForm.errors?.['passwordMismatch'] && registrationForm.get('confirmPassword')?.touched"
      class="error-message"
    >
      <small>הסיסמאות לא תואמות</small>
    </div>

    <div>
      <label for="class">כיתה</label>
      <select
        id="class"
        formControlName="class"
        [disabled]="classes.length === 0"
      >
        <option *ngIf="classes.length === 0" disabled>
          אין כיתה זמינה
        </option>
        <option
          *ngFor="let class of classes"
          [value]="class._id"
        >
          {{ class.name }}
        </option>
      </select>
    </div>

    <div>
      <label for="specialization">התמחות</label>
      <select
        id="specialization"
        formControlName="specialization"
        [disabled]="specializations.length === 0"
      >
        <option *ngIf="specializations.length === 0" disabled>
          אין התמחות זמינה
        </option>
        <option
          *ngFor="let specialization of specializations"
          [value]="specialization._id"
        >
          {{ specialization.name }}
        </option>
      </select>
    </div>
    

    <div>
      <label for="seminar">סמינר</label>
      <select id="seminar" formControlName="seminar" [disabled]="seminaries.length === 0">
        <option *ngIf="seminaries.length === 0" disabled>
          אין סמינרים זמינים
        </option>
        <option *ngFor="let seminary of seminaries" [value]="seminary._id">
          {{ seminary.name }}
        </option>
      </select>
    </div>
    

    <div *ngIf="errorMessage" class="error-message">
      <div class="error-box">{{ errorMessage }}</div>
    </div>

    <button
      type="submit"
      class="submit-button"
      [disabled]="registrationForm.invalid"
    >
      הרשמי
    </button>
  </form>
</div>
