.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  direction: rtl;
}

.reset-password-form {
  background-color: white;
  padding: 1.875rem; /* 30px -> 1.875rem */
  border-radius: 0.625rem; /* 10px -> 0.625rem */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 4px 8px -> 0.25rem 0.5rem */
  width: 100%;
  max-width: 25rem; /* 400px -> 25rem */
}

h1 {
  text-align: center;
  font-size: 1.5rem; /* 24px -> 1.5rem */
  margin-bottom: 1.25rem; /* 20px -> 1.25rem */
  color: #333;
}

.form-group {
  margin-bottom: 0.9375rem; /* 15px -> 0.9375rem */
}

label {
  display: block;
  font-size: 0.875rem; /* 14px -> 0.875rem */
  color: #666;
  margin-bottom: 0.3125rem; /* 5px -> 0.3125rem */
}

input {
  width: 100%;
  padding: 0.625rem; /* 10px -> 0.625rem */
  font-size: 1rem; /* 16px -> 1rem */
  border: 0.0625rem solid #ccc; /* 1px -> 0.0625rem */
  border-radius: 0.3125rem; /* 5px -> 0.3125rem */
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #4caf50;
}

button {
  width: 100%;
  padding: 0.75rem; /* 12px -> 0.75rem */
  font-size: 1rem; /* 16px -> 1rem */
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 0.3125rem; /* 5px -> 0.3125rem */
  cursor: pointer;

}

button:disabled {
  background-color: #218838;
  cursor: not-allowed;
}



small {
  color: red;
  font-size: 0.75rem; /* 12px -> 0.75rem */
  margin-top: 0.3125rem; /* 5px -> 0.3125rem */
}
.error-message {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-box {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 0.2rem;
  border-radius: 0.3125rem; /* 5px */
  width: 100%;
  max-width: 25rem; /* 400px */
  box-sizing: border-box;
  text-align: center;
}