<div class="reset-password-container">
  <div class="reset-password-form">
    <h1>חידוש סיסמה</h1>
    <div *ngIf="errorMessage" class="error-message">
      <div class="error-box">
        <p>{{ errorMessage }}</p>
      </div>
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password">סיסמה</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="הסיסמה כוללת 8 תווים, אותיות באנגלית ומספרים"
        />
        <small *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
          הסיסמה חייבת לכלול לפחות 8 תווים
        </small>
      </div>

      <div class="form-group">
        <label for="confirmPassword">אימות סיסמה</label>
        <input
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          placeholder="אותה סיסמה פעם נוספת"
        />
        <small
          *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
          חובה לאשר את הסיסמה
        </small>
      </div>

      <button type="submit" >המשך</button>
    </form>
  </div>
</div>
