* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.welcome-header {
  display: flex;
  align-items: center;
  gap: 1.5vw; /* הקטנתי את המרווח */
}

.welcome-title {
  font-size: 4vw; /* הקטנתי את גודל הטקסט */
  font-weight: bold;
  margin: 0;
}

.welcome-icon {
  font-size: 6vw; /* הקטנתי את גודל האייקון */
}

.welcome-text {
  font-size: 1.5vw; /* הקטנתי את גודל הטקסט */
  margin-top: 1.5vh; /* הקטנתי את המרווח העליון */
  color: #555555;
}

.login-button {
  margin-top: 3vh; /* הקטנתי את המרווח העליון */
  padding: 1.5vh 2vw; /* הקטנתי את הפדינג */
  font-size: 1.4vw; /* הקטנתי את גודל הפונט */
  font-weight: bold;
  background-color: #ffffff;
  border: 0.2rem solid #000000;
  border-radius: 1.5rem; /* הקטנתי את רדיוס הגבול */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.welcome-image {
  width: 6vw; /* הקטנתי את רוחב התמונה */
  height: auto;
}
