<div>
<h1>טופס העלאת קובץ</h1>

<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="formMode">
    <mat-radio-button class="example-radio-button" [value]="'edit'" (click)="handleClick($event,'edit')">עריכת תוכן</mat-radio-button>
    <mat-radio-button class="example-radio-button" [value]="'add'" (click)="handleClick($event,'add')">העלאת תוכן </mat-radio-button>
    <mat-radio-button class="example-radio-button" [value]="'addLink'" (click)="handleClick($event,'addLink')">קישורים</mat-radio-button>
</mat-radio-group>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<div class="container">


  <!-- העלאת קובץ -->
  <div class="image-container">
    <div *ngIf="formMode=='add'">
      <div *ngIf="file">
        <button (click)="removeSelectedFile()">X</button>
      </div>
    <div *ngIf="isVideo">
      <video [src]="previewImage"></video>
    </div>

    <div *ngIf="isPDF">
      <embed [src]="previewImage" type="application/pdf" >
    </div>

    <div *ngIf="isImage">
      <img [src]="previewImage " alt="תמונה לדוגמה" />    
    </div>

    <div *ngIf="isAudio">
      <audio [src]="previewImage" controls></audio>
    </div>

    
    <div class="upload-overlay">
      <button (click)="fileInput.click()">העלה קובץ PDF/ תמונה/וידאו/אודיו</button>
      <input type="file" #fileInput (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png, .pdf, video/*,.mp3,.wav"
        style="display: none;" />
    </div>
  </div>
  <div *ngIf="formMode=='edit'">
    <quill-editor [(ngModel)]="content" theme="snow" [modules]="editorModules" (change)="onEditFileSelected"></quill-editor>
  </div>
  <div *ngIf="formMode=='addLink'">
    <div class="link-input-container">
      <label for="linkInput">הדבק קישור</label>
      <div class="LinkInput-wrapper">
        <span>🔗</span>
        <input
          id="linkInput"
          type="url"
          placeholder="הדבק קישור כאן"
          [(ngModel)]="link"
          (input)="onLinkChange()"
        />
      </div>
      <div *ngIf="link && !isValidLink" class="error-message">
        הקישור אינו חוקי. יש לוודא שמדובר ב-URL תקין.
      </div>
    </div>
  </div>
  </div>

  <!-- העלאת תמונה -->
  <div *ngIf="!isImage" class="image-container" >
    <img [src]="displayImage" alt="תמונת שער"/>
    
    <div class="upload-overlay">
      <button (click)="imageInput.click()">העלה תמונת שער </button>
      <input type="file" #imageInput (change)="onImageSelected($event)" accept=".jpg, .jpeg, .png"
        style="display: none;" />
    </div>
  </div>
</div>
    

  <!-- טופס -->

  <form [formGroup]="fileForm" (ngSubmit)="onSubmit()">
    <div class="form-section-container">
      <!-- כותרת: פרטי קובץ -->
      <div class="form-section">
        <h2>פרטי קובץ</h2>
        <div class="form-group">
          <label for="title">כותרת </label>
          <input class="input_fields" type="text" id="title" formControlName="title" />
        </div>
        <div class="form-group">
          <label for="publicationDate">תאריך העלאה</label>
          <input class="input_fields" type="date" id="publicationDate" formControlName="publicationDate" />
        </div>
        <div class="form-group" *ngIf="formMode!='edit'">
          <label for="type">סוג קובץ</label>
          <select class="input_fields" id="type" formControlName="type" (change)="onFileTypeChange($event)">
            <option  *ngFor="let type of fileTypes" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="subject">נושא</label>
          <mat-form-field class="autocomplete-container">
            <mat-chip-grid #subjectChipList  aria-label="רשימת התמחות">
              <mat-chip-row *ngFor="let subject of multipleChoiceFields['subjects'].optionSelected" [removable]="true" (removed)="remove(subject,'subjects')">
                {{subject}}
                <button matChipRemove>×</button>
              </mat-chip-row>
              <input
              class="input_fields"
              matInput
                [matChipInputFor]="subjectChipList "
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="add($event,'subjects')"
                [matAutocomplete]="subjectsAuto"
                
              />
            </mat-chip-grid>
            <mat-autocomplete #subjectsAuto="matAutocomplete" (optionSelected)="select($event,'subjects')" [disableRipple]="true">
              <mat-option *ngFor="let subject of (multipleChoiceFields['subjects'].filteredOption$ | async)" [value]="subject">
                {{ subject }}
              </mat-option>
              <button mat-raised-button color="primary" class="custom-button" (click)="openDialog()" >+ נושא חדש</button>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="form-section">
        <h2>למי מיועד</h2>
        
        <div class="form-group">
        <label for="specializations">התמחות</label>
         <mat-form-field class="autocomplete-container">
          <mat-chip-grid #specializationsChipList  aria-label="רשימת התמחות">
            <mat-chip-row *ngFor="let specialization of multipleChoiceFields['specializations'].optionSelected" [removable]="true" (removed)="remove(specialization,'specializations')">
              {{specialization}}
              <button matChipRemove>×</button>
            </mat-chip-row>
            <input
            class="input_fields"
            matInput
              [matChipInputFor]="specializationsChipList "
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="add($event,'specializations')"
              [matAutocomplete]="specializationsAuto"
              
            />
          </mat-chip-grid>
          <mat-autocomplete #specializationsAuto="matAutocomplete" (optionSelected)="select($event,'specializations')" [disableRipple]="true">
            <mat-option *ngFor="let specialization of (multipleChoiceFields['specializations'].filteredOption$ | async)" [value]="specialization">
              {{ specialization }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="ages">לאיזה גיל מיועד הקובץ</label>
         <mat-form-field class="autocomplete-container">
          <mat-chip-grid #agesChipList  aria-label="רשימת גילאים">
            <mat-chip-row *ngFor="let age of multipleChoiceFields['ages'].optionSelected" [removable]="true" (removed)="remove(age,'ages')">
              {{age}}
              <button matChipRemove>×</button>
            </mat-chip-row>
            <input
            class="input_fields"
            matInput
              [matChipInputFor]="agesChipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="add($event,'ages')"
              [matAutocomplete]="agesAuto"
              
            />
          </mat-chip-grid>
          <mat-autocomplete #agesAuto="matAutocomplete" (optionSelected)="select($event,'ages')" [disableRipple]="true">
            <mat-option *ngFor="let age of (multipleChoiceFields['ages'].filteredOption$ | async)" [value]="age">
              {{ age }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>  
      
        <div class="form-group">
          <label for="level">איזה רמה מיועד</label>
          <select class="input_fields" id="level" formControlName="level">
            <option *ngFor="let level of levels" [value]="level">{{ level }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="language">שפה</label>
          <select class="input_fields" id="language" formControlName="language">
            <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
          </select>
        </div>
      </div>
      
    </div> 

      <div class="form-section-container">
        <!-- כותרת: למי מיועד -->
        
       
        <!-- כותרת: אודות הקובץ -->
        <div class="form-section">
          <h2>אודות הקובץ</h2>
          <!-- <div class="form-group">
          <label for="purchaseLocation">איפה נקנה</label>
          <select class="input_fields" id="purchaseLocation" formControlName="purchaseLocation">
            <option *ngFor="let location of purchaseLocations" [value]="location">{{ location }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="price">כמה עלה</label>
          <input class="input_fields" type="number" id="price" formControlName="price" />
        </div>
        <div class="form-group">
          <label for="catalogNumber">מק"ט</label>
          <input class="input_fields" type="text" id="catalogNumber" formControlName="catalogNumber" />
        </div>
        <div class="form-group">
          <label for="copies">מס עותקים</label>
          <input class="input_fields" type="number" id="copies" formControlName="copies" />
        </div> -->
        
          <div class="form-group">
            <label for="releaseYear">שנת הוצאה</label>
            <input class="input_fields" type="text" id="releaseYear" formControlName="releaseYear" />
          </div>
          <div class="form-group">
            <label for="author">מחבר/זמר</label>
            <input class="input_fields" type="text" id="author" formControlName="author" />
          </div>
        </div>
        <!-- כותרת: סטטוס -->
      <!-- <div class="form-section">
        <h2>סטטוס</h2>
        <div class="form-group">
          <label for="approved">מאושר להשאלה</label>
          <select class="input_fields" id="approved" formControlName="approved" >
            <option value="כן">כן</option>
            <option value="לא">לא</option>
          </select>
        </div>
        <div class="form-group">
          <label for="loanValidity">תוקף השאלה</label>
          <input class="input_fields" type="text" id="loanValidity" formControlName="loanValidity" />
        </div>
      </div> -->
      </div>

      <div class="form-section">
        <div class="form-group">
          <label for="tags">תגיות</label>
          <mat-form-field class="autocomplete-container">
            <mat-chip-grid #tagsChipList  aria-label="רשימת תגיות">
              <mat-chip-row *ngFor="let tag of multipleChoiceFields['tags'].optionSelected" [removable]="true" (removed)="remove(tag,'tags')">
                {{getTagById(tag)}}
                <button matChipRemove>×</button>
              </mat-chip-row>
              <input
              class="input_fields"
              matInput
                [matChipInputFor]="tagsChipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="add($event,'tags')"
                [matAutocomplete]="tagsAuto"
                
              />
            </mat-chip-grid>
            <mat-autocomplete #tagsAuto="matAutocomplete" (optionSelected)="select($event,'tags')" [disableRipple]="true">
              <mat-option *ngFor="let tag of (multipleChoiceFields['tags'].filteredOption$ | async)" [value]="tag._id">
                {{ tag.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="description">מה עוד כדאי לדעת?</label>
          <textarea class="input_fields" id="description" rows="4" formControlName="description"></textarea>
        </div>
      </div>
       <div *ngIf="formErrorMessage" class="error-message">{{formErrorMessage}}</div>
      <!-- כפתור שליחה -->
      <button type="submit">שלח</button>
  </form>

  </div>
