<div>
<h1>טופס העלאת קובץ</h1>

<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="contentOption">
    <mat-radio-button class="example-radio-button" [value]="'edit'" (click)="handleClick($event,'edit')">עריכת תוכן</mat-radio-button>
    <mat-radio-button class="example-radio-button" [value]="'add'" (click)="handleClick($event,'add')">העלאת תוכן </mat-radio-button>
    <mat-radio-button class="example-radio-button" [value]="'addLink'" (click)="handleClick($event,'addLink')">קישורים</mat-radio-button>
    <mat-radio-button class="example-radio-button" [value]="'physicalBook'" (click)="handleClick($event,'physicalBook')">ספר להשאלה</mat-radio-button>
</mat-radio-group>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<div class="container">


  <!-- העלאת קובץ -->
  <div *ngIf="contentOption!=='physicalBook'" class="image-container" >
    <div *ngIf="contentOption=='add'">
      <div *ngIf="file">
        <button (click)="removeSelectedFile()">X</button>
      </div>
    <div *ngIf="isVideo">
      <video [src]="previewImage"></video>
    </div>

    <div *ngIf="isPDF">
      <embed [src]="previewImage" type="application/pdf" >
    </div>

    <div *ngIf="isImage">
      <img [src]="previewImage " alt="תמונה לדוגמה" />    
    </div>

    <div *ngIf="isAudio">
      <audio [src]="previewImage" controls></audio>
    </div>

    
    <div class="upload-overlay">
      <button (click)="fileInput.click()">העלה קובץ PDF/ תמונה/וידאו/אודיו</button>
      <input type="file" #fileInput (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png, .pdf, video/*,.mp3,.wav"
        style="display: none;" />
    </div>
  </div>
  <div *ngIf="contentOption=='edit'">
    <quill-editor [(ngModel)]="content" theme="snow" [modules]="editorModules" (onContentChanged)="onEditFileSelected()" placeholder=" הכנס את הטקסט שלך כאן"></quill-editor>
  </div>
  <div *ngIf="contentOption=='addLink'">
    <div class="link-input-container">
      <label for="linkInput">הדבק קישור</label>
      <div class="LinkInput-wrapper">
        <span>🔗</span>
        <input
          id="linkInput"
          type="url"
          placeholder="הדבק קישור כאן"
          [(ngModel)]="link"
          (input)="onLinkChange()"
        />
        <button *ngIf="link" (click)="removeLink()">X</button>
      </div>
      <div *ngIf="link && !isValidLink" class="error-message">
        הקישור אינו חוקי. יש לוודא שמדובר ב-URL תקין.
      </div>
    </div>
  </div>
  <div *ngIf="fileErrorMessage" class="error-message">{{fileErrorMessage}}</div>
  </div>
  

  <!-- העלאת תמונה -->
  <div *ngIf="(!isImage && contentOption!=='edit') || (contentOption=='physicalBook')" class="image-container" >
    <button *ngIf="coverImage" (click)="removeCoverImage()">X</button>
    <img [src]="displayImage" alt="תמונת שער"/>
    
    <div class="upload-overlay">
      <button (click)="imageInput.click()">העלה תמונת שער </button>
      <input type="file" #imageInput (change)="onImageSelected($event)" accept=".jpg, .jpeg, .png"
        style="display: none;" />
    </div>
    <div *ngIf="coverImageErrorMessage" class="error-message" id="coverImageErrorMessage">{{coverImageErrorMessage}}</div>
  </div>
</div>
    

  <!-- טופס -->

  <form [formGroup]="fileForm" (ngSubmit)="formMode === 'edit' ? onSubmitEdit() : onSubmit()">
    <div class="form-section-container">
      <!-- כותרת: פרטי קובץ -->
      <div class="form-section">
        <h2>פרטי קובץ</h2>
        <div class="form-group">
          
          <label for="title">כותרת </label>
          <input class="input_fields" type="text" id="title" formControlName="title" [placeholder]="formMode === 'edit' ? fileForm.get('title')?.value : ''">          
          </div>
        <div class="form-group" *ngIf="contentOption!='edit' && contentOption!='physicalBook'">
          <label for="type">סוג קובץ*</label>
          <select class="input_fields" id="type" formControlName="type" (change)="onFileTypeChange($event)  ">
            <option  *ngFor="let type of fileTypes" [value]="type">{{ type }}</option>
          </select>
          <div class="error-fields" *ngIf="fileForm.get('type')?.invalid && fileForm.get('type')?.touched">
            <small *ngIf="fileForm.get('type')?.errors?.['required']">יש לבחור סוג קובץ</small>
          </div>
        </div>
        <div class="form-group">
          <label for="subjectInput">נושא*</label>
          <mat-form-field  class="autocomplete-container">
            <mat-chip-grid #subjectChipList  >
              <div class="input-container">
              <mat-icon matPrefix class="dropdown-icon">expand_more</mat-icon>
              <input
              id="subjectInput"
              class="input_fields"
              matInput
                
                [matChipInputFor]="subjectChipList "
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="add($event,'subjects')"
                [matAutocomplete]="subjectsAuto"
                (focusout)="markFieldAsTouched('subjects')"
                [value]="formMode === 'edit' ? '' : ''"
                [placeholder]="formMode === 'edit' ? '' : ''"
              />
            </div>
              <mat-chip-row *ngFor="let subject of multipleChoiceFields['subjects'].optionSelected" [removable]="true" (removed)="remove(subject,'subjects')">
                {{getOptionNameById(subject,'subjects')}}
                <button matChipRemove>×</button>
              </mat-chip-row>
            </mat-chip-grid>
            <mat-autocomplete #subjectsAuto="matAutocomplete" (optionSelected)="select($event,'subjects')" [displayWith]="displayFn" [autoActiveFirstOption]="false" >
              <mat-option *ngFor="let subject of (multipleChoiceFields['subjects'].filteredOption$ | async)" [value]="subject._id" (change)="toggleSelection( subject, 'subjects')" (click)="$event.stopPropagation()" >
                <div (click)="optionClicked($event, subject,'subjects')">
                  <mat-checkbox [checked]="multipleChoiceFields['subjects'].optionSelected.includes(subject._id)">
                {{ subject.name }}
              </mat-checkbox>
            </div>
              </mat-option>
              <button mat-raised-button color="primary" class="custom-button" (click)="openDialog('subjects','/subjects/addSubject')" >+ נושא חדש</button>
            </mat-autocomplete>
          </mat-form-field>
          <div class="error-fields" *ngIf="fileForm.get('subjects')?.invalid && fileForm.get('subjects')?.touched">
            <small *ngIf="fileForm.get('subjects')?.errors?.['required']">יש לבחור לפחות נושא אחד</small>
          </div>
        </div>
      </div>
      <div class="form-section">
        <h2>למי מיועד</h2>
        
        <div class="form-group">
        <label for="specializationsInput">התמחות*</label>
         <mat-form-field  class="autocomplete-container">
          <mat-chip-grid #specializationsChipList  aria-label="רשימת התמחות">
            <div class="input-container"> 
            <mat-icon matPrefix class="dropdown-icon">expand_more</mat-icon>
            <input
            id="specializationsInput"
            class="input_fields"
            matInput
              [matChipInputFor]="specializationsChipList "
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="add($event,'specializations')"
              [matAutocomplete]="specializationsAuto"
              (focusout)="markFieldAsTouched('specializations')"
              [value]="formMode === 'edit' ? '' : ''"
              [placeholder]="formMode === 'edit' ? '' : ''"
            />
          </div>
            <mat-chip-row *ngFor="let specialization of multipleChoiceFields['specializations'].optionSelected" [removable]="true" (removed)="remove(specialization,'specializations')">
              {{getOptionNameById(specialization,'specializations')}}
              <button matChipRemove>×</button>
            </mat-chip-row>
          </mat-chip-grid>
          <mat-autocomplete #specializationsAuto="matAutocomplete" (optionSelected)="select($event,'specializations')" [displayWith]="displayFn" [autoActiveFirstOption]="false" >
            <mat-option *ngFor="let specialization of (multipleChoiceFields['specializations'].filteredOption$ | async)" [value]="specialization._id" (change)="toggleSelection( specialization, 'specializations')" (click)="$event.stopPropagation()" >
              <div (click)="optionClicked($event, specialization,'specializations')">
                <mat-checkbox [checked]="multipleChoiceFields['specializations'].optionSelected.includes(specialization._id)">
              {{ specialization.name }}
            </mat-checkbox>
          </div>
            </mat-option>
            <button mat-raised-button color="primary" class="custom-button" (click)="openDialog('specializations','/Specializations/addSpecialization')"  >+ התמחות חדשה </button>
          </mat-autocomplete>
        </mat-form-field>
        <div class="error-fields" *ngIf="fileForm.get('specializations')?.invalid && fileForm.get('specializations')?.touched">
          <small *ngIf="fileForm.get('specializations')?.errors?.['required']">יש לבחור לפחות התמחות אחת</small>
        </div>
      </div>

      <div class="form-group">
        <label for="agesInput">לאיזה גיל מיועד הקובץ*</label>
         <mat-form-field  class="autocomplete-container">
          <mat-chip-grid #agesChipList  aria-label="רשימת גילאים">
            <div class="input-container">
            <mat-icon matPrefix class="dropdown-icon">expand_more</mat-icon>
            <input
            id="agesInput"
            class="input_fields"
            matInput
              [matChipInputFor]="agesChipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="add($event,'classes')"
              [matAutocomplete]="agesAuto"
              (focusout)="markFieldAsTouched('classes')"
              [value]="formMode === 'edit' ? '': ''"
              [placeholder]="formMode === 'edit' ? '' : ''"                
              [formArrayName]="'classes'"
            />
          </div>
            <mat-chip-row *ngFor="let class of multipleChoiceFields['classes'].optionSelected" [removable]="true" (removed)="remove(class,'classes')">
              {{getOptionNameById(class,'classes')}}
              <button matChipRemove>×</button>
            </mat-chip-row>
          </mat-chip-grid>
          <mat-autocomplete #agesAuto="matAutocomplete" (optionSelected)="select($event,'classes')"  [displayWith]="displayFn" [autoActiveFirstOption]="false" >
            <mat-option *ngFor="let class of (multipleChoiceFields['classes'].filteredOption$ | async)" [value]="class._id" (change)="toggleSelection( class, 'classes')" (click)="$event.stopPropagation()" >
              <div (click)="optionClicked($event, class,'classes')">
              <mat-checkbox [checked]="multipleChoiceFields['classes'].optionSelected.includes(class._id)">
              {{ class.name }}
            </mat-checkbox>
            </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="error-fields" *ngIf="fileForm.get('classes')?.invalid && fileForm.get('classes')?.touched">
          <small *ngIf="fileForm.get('classes')?.errors?.['required']">יש לבחור לפחות גיל אחד</small>
        </div>
      </div>  
      
        <div class="form-group">
          <label for="level">איזה רמה מיועד*</label>
          <select class="input_fields" id="level" formControlName="level">
            <option *ngFor="let level of levels" [value]="level">{{ level }}</option>
          </select>
          <div class="error-fields" *ngIf="fileForm.get('level')?.invalid && fileForm.get('level')?.touched">
            <small *ngIf="fileForm.get('level')?.errors?.['required']">יש לבחור רמה</small>
          </div>
        </div>

        <div class="form-group">
          <label for="language">שפה*</label>
          <select class="input_fields" id="language" formControlName="language">
            <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
          </select>
          <div class="error-fields" *ngIf="fileForm.get('language')?.invalid && fileForm.get('language')?.touched">
            <small *ngIf="fileForm.get('language')?.errors?.['required']">יש לבחור שפה</small>
          </div>
        </div>
      </div>
      
    </div> 

      <div class="form-section-container">
        
        <!-- כותרת: אודות הקובץ -->
        <div class="form-section">
          <h2>אודות הקובץ</h2>
          <div class="form-group" *ngIf="contentOption=='physicalBook'">
          <label for="purchaseLocation">איפה נקנה</label>
          <select class="input_fields" id="pLocation" formControlName="purchaseLocation">
            <option *ngFor="let pLocation of purchaseLocations" [value]="pLocation">{{ pLocation }}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="contentOption=='physicalBook'">
          <label for="price">כמה עלה</label>
          <input class="input_fields" type="number" id="price" formControlName="price" [placeholder]="formMode === 'edit' ? fileForm.get('price')?.value : ''"/>
        <!-- <div class="error-fields" *ngIf="fileForm.get('price')?.invalid && fileForm.get('price')?.touched">
            <small *ngIf="fileForm.get('price')?.errors?.['required']">יש להזין מחיר</small>
          </div> -->
        </div>
        <div class="form-group" *ngIf="contentOption=='physicalBook'">
          <label for="catalogNumber">מק"ט</label>
          <input class="input_fields" type="number" id="catalogNumber" formControlName="catalogNumber" [placeholder]="formMode === 'edit' ? fileForm.get('catalogNumber')?.value : ''"/>
       <!-- <div class="error-fields" *ngIf="fileForm.get('catalogNumber')?.invalid && fileForm.get('catalogNumber')?.touched">
            <small *ngIf="fileForm.get('titcatalogNumberle')?.errors?.['required']">יש להזין מק"ט</small>
          </div> -->
        </div>
        <div class="form-group" *ngIf="contentOption=='physicalBook'">
          <label for="copies">*מס עותקים</label>
          <input class="input_fields" type="number" id="copies" formControlName="copies" [placeholder]="formMode === 'edit' ? fileForm.get('copies')?.value : ''" />
        <!-- <div class="error-fields" *ngIf="fileForm.get('copies')?.invalid && fileForm.get('copies')?.touched">
            <small *ngIf="fileForm.get('copies')?.errors?.['required']">יש להזין מס עותקים</small>
          </div> -->
        </div>
        
          <div *ngIf="contentOption!=='edit'" class="form-group">
            <label for="releaseYear">שנת הוצאה</label>
            <input class="input_fields" type="text" id="releaseYear" formControlName="releaseYear" [placeholder]="formMode === 'edit' ? fileForm.get('releaseYear')?.value : ''" />
            <!-- <div class="error-fields" *ngIf="fileForm.get('releaseYear')?.invalid && fileForm.get('releaseYear')?.touched">
              <small *ngIf="fileForm.get('releaseYear')?.errors?.['required']">יש להזין שנת הוצאה</small>
            </div> -->
          </div>
          <div class="form-group">
            <label for="author">מחבר/זמר*</label>
            <input class="input_fields" type="text" id="author" formControlName="author" [placeholder]="formMode === 'edit' ? fileForm.get('author')?.value : ''"/>
            <div class="error-fields" *ngIf="fileForm.get('author')?.invalid && fileForm.get('author')?.touched">
              <small *ngIf="fileForm.get('author')?.errors?.['required']">יש להזין מחבר/זמר</small>
            </div>
          </div>

          <div class="form-group" *ngIf="contentOption=='physicalBook'">
            <label for="libraryLocation">מיקום בספרייה</label>
            <input class="input_fields" type="text" id="libraryLocation" formControlName="libraryLocation" [placeholder]="formMode === 'edit' ? this.resourceItem.filePath : ''"/>
          </div>
        </div>
        <!-- כותרת: סטטוס -->
      <div class="form-section" *ngIf="contentOption=='physicalBook'">
        <h2>סטטוס</h2>
        <div class="form-group">
          <label for="approved">מאושר להשאלה</label>
          <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          id="approved" 
          formControlName="approved">
          <mat-radio-button  [value]="'כן'">כן</mat-radio-button>
          <mat-radio-button  [value]="'לא'">לא</mat-radio-button>
        </mat-radio-group>
        </div>
        <div class="form-group">
          <label for="loanValidity">משך השאלה</label>
          <input class="input_fields" type="text" id="loanValidity" formControlName="loanValidity" [placeholder]="formMode === 'edit' ? fileForm.get('loanValidity')?.value : ''"/>
        <!-- <div class="error-fields" *ngIf="fileForm.get('loanValidity')?.invalid && fileForm.get('loanValidity')?.touched">
            <small *ngIf="fileForm.get('loanValidity')?.errors?.['required']">יש להזין תוקף</small>
          </div> -->
        </div>
      </div>
      </div>

      <div class="form-section">
        <div class="form-group">
          <label for="tagsInput">תגיות</label>
          <mat-form-field  class="autocomplete-container">
            <mat-chip-grid #tagsChipList  aria-label="רשימת תגיות">
              <div class="input-container">
              <mat-icon matPrefix class="dropdown-icon">expand_more</mat-icon>
              <input
              id="tagsInput"
              class="input_fields"
              matInput
                [matChipInputFor]="tagsChipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="add($event,'tags')"
                [matAutocomplete]="tagsAuto"
                
                [placeholder]="formMode === 'edit' ? '' : ''"                
                [formArrayName]="'tags'"
              />
              </div>
              <mat-chip-row *ngFor="let tag of multipleChoiceFields['tags'].optionSelected" [removable]="true" (removed)="remove(tag,'tags')">
                {{getOptionNameById(tag,'tags')}}
                <button matChipRemove>×</button>
              </mat-chip-row>
            </mat-chip-grid>
            <mat-autocomplete #tagsAuto="matAutocomplete" (optionSelected)="select($event,'tags')" [displayWith]="displayFn" [autoActiveFirstOption]="false" >
              <mat-option *ngFor="let tag of (multipleChoiceFields['tags'].filteredOption$ | async)" [value]="tag._id" (change)="toggleSelection( tag, 'tags')" (click)="$event.stopPropagation()" >
                <div (click)="optionClicked($event, tag,'tags')">
                  <mat-checkbox [checked]="multipleChoiceFields['tags'].optionSelected.includes(tag._id)">
                {{ tag.name }}
              </mat-checkbox>
            </div>
              </mat-option>
              <button mat-raised-button color="primary" class="custom-button" (click)="openDialog('tags','/tags/addTag')" >+ תגית חדשה </button>
            </mat-autocomplete>
          </mat-form-field>
          
        </div>
        <div class="form-group">
          <label for="description">מה עוד כדאי לדעת?</label>
          <textarea class="input_fields" id="description" rows="4" formControlName="description" [placeholder]="formMode === 'edit' ? fileForm.get('description')?.value : ''"></textarea>
        </div>
      </div>
       <div *ngIf="formErrorMessage" class="error-message">{{formErrorMessage}}</div>
      <!-- כפתור שליחה -->
      <button type="submit" [disabled]="isSubmitting">
        {{ isSubmitting ? 'שולח...' : 'שלח' }}
      </button>
  </form>
  </div>
