<div table-container dir="rtl">
  <!-- סרגל ניווט -->
  <div class="nav-tabs">
    <div
      [class.active]="activeTab === 'personal-details'"
      (click)="navigateTo('personal-details')"
    >
      פרטים אישיים
    </div>

    <div [class.active]="activeTab === 'orders'" (click)="navigateTo('orders')">
      הזמנות
    </div>
    <div
      [class.active]="activeTab === 'favorites'"
      (click)="navigateTo('favorites')"
    >
      שמירות
    </div>
  </div>

  <!-- <div class="container"> -->
  <mat-card
    appearance="outlined"
    class="no-data-message"
    *ngIf="showNoDataMessage"
  >
    <mat-card-header>
      <mat-icon
        mat-card-avatar
        color="primary"
        fontSize="large"
        class="icon-no-data-message"
        >info</mat-icon
      >
      <mat-card-content>
        <p>אין נתונים להצגה</p>
      </mat-card-content>
    </mat-card-header>
  </mat-card>

  <div class="row" *ngFor="let order of orders">
    <div class="item-content">
      <img
        [src]="order.coverImage || 'image/file-not-found'"
        alt="Item Image"
        class="item-image"
      />
      <div class="item-details">
        <div class="item-title">{{ order.title }}</div>
        <div class="item-description">{{ order.description }}</div>
        <div class="item-meta">
          <span class="meta-label">מחבר: </span>
          <span class="meta-value">{{ order.Author }}</span> |
          <span class="meta-label">תאריך העלאה:</span>
          <span class="meta-value">{{
            order.publicationDate | date : "dd/MM/yyyy"
          }}</span>
        </div>
      </div>
      <div class="request-date">
        {{ order.requestDate | date : "dd/MM/yyyy" }}
      </div>
    </div>
    <div class="action-buttons">
      <button
        [ngClass]="{
          'status-approved': order.status === 'Approved',
          'status-rejected': order.status === 'Rejected',
          'status-pending': order.status === 'Pending'
        }"
      >
        {{ getStatusInHebrew(order.status) }}
      </button>
      <button class="action-button order" (click)="navigateToItemPage(order)">
        לצפיה
      </button>
    </div>
  </div>
</div>
