<p>edit-media works!</p>
<!-- <form (ngSubmit)="onSubmit()" *ngIf="media">
    <label>
      Title:
      <input type="text" [(ngModel)]="media.title" name="title" required />
    </label>
  
    <label>
      Description:
      <textarea [(ngModel)]="media.description" name="description"></textarea>
    </label>
  
    <label>
      Tags (comma separated):
      <input type="text" [(ngModel)]="tagsString" name="tags" />
    </label>
  
    <button type="submit">Save</button>
  </form> -->
  
  <div>
    <h2>Edit Resource</h2>
    <form [formGroup]="resourceForm" (ngSubmit)="onSave()">
      <div>
        <label for="title">Title:</label>
        <input id="title" formControlName="title" />
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>
      <div>
        <label for="tags">Tags (comma separated):</label>
        <input id="tags" formControlName="tags" />
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
  