<div class="grid-container">
  <!-- קובץ הפריט -->
  <div *ngIf="item" class="grid-item item-1">
    <ng-container *ngIf="previewUrl; else noFile">
      <div *ngIf="isImage">
        <img [src]="previewUrl" [alt]="item?.title || 'Image not found'">
      </div>
      <div *ngIf="isVideo">
        <video [src]="previewUrl" controls></video>
      </div>
      <div *ngIf="isPDF">
        <!-- הצגת תמונת הכריכה -->
        <a 
          *ngIf="item?.coverImage" 
          [href]="previewUrl" 
          target="_blank" 
          rel="noopener noreferrer"
        >
          <img 
            [src]="item.coverImage" 
            [alt]="'Cover image for ' + (item?.title || 'document')" 
            class="document-cover-image" 
            style="cursor: pointer; max-width: 100%; height: auto;"
          >
        </a>
        <p>לחצי 👆 על הכריכה להצגת המסמך*</p>
      </div>
      
      
      
      <div *ngIf="isAudio">
        <!-- הצגת תמונת הכריכה מעל השיר -->
        <img *ngIf="item?.coverImage" [src]="item.coverImage" [alt]="'Cover image for ' + (item?.title || 'audio')" id="audio-cover-image">
        <audio [src]="previewUrl" controls></audio>
      </div>
    </ng-container>
    <ng-template #noFile>
      <p>הקובץ לא קיים</p>
    </ng-template>
  </div>

  <!-- פרטי הפריט -->
  <div *ngIf="item" class="grid-item item-2 item-details">
    <h1>{{ item?.title || '' }}</h1>
    <p><strong>תאריך פרסום:</strong> {{ item?.publicationDate || '' }}</p>
    <p><strong>נושא:</strong> {{ item?.subject?.join(', ') || '' }}</p>
    <p><strong>גיל:</strong> {{ item?.ages || '' }}</p>
    <p><strong>רמה:</strong> {{ item?.level || '' }}</p>
    <p><strong>שפה:</strong> {{ item?.language || '' }}</p>
    <p><strong>שנת הוצאה לאור:</strong> {{ item?.releaseYear || '' }}</p>
    <p><strong>מחבר:</strong> {{ item?.author || '' }}</p>
    <p><strong>תיאור:</strong> {{ item?.description || '' }}</p>
    <p *ngIf="item?.tags?.length"><strong>חוות דעת:</strong> {{ item?.tags?.join(', ') }}</p>
  </div>

  <!-- פריטים דומים -->
  <div class="grid-item item-3">
    <h2>פריטים דומים</h2>
    <div class="similar-items">
      <div *ngFor="let similarItem of similarItems" class="similar-item" (click)="navigateToItem(similarItem._id)">
        <img *ngIf="similarItem?.coverImage" [src]="getCoverImageSimilarItem(similarItem)" [alt]="similarItem?.title || 'Cover image not found'">
        <p *ngIf="!similarItem?.coverImage">הקובץ לא נמצא</p>
      </div>
    </div>
  </div>
</div>
