/* You can add global styles to this file, and also import other style files */
.quill-input {
    width: 100%;
    max-width: 500px; /* רוחב מקסימלי */
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    min-height: 40px; /* גובה מינימלי */
  }
  
  .ql-toolbar {
    border: none;
    margin-bottom: 5px;
  }
  
  /* .ql-container {
    display: none !important;
    min-height: 100px;
    overflow-y: auto;
  } */
  
  .ql-editor {
    width: 100% ;
    min-height: 100px;
    padding: 10px;
    text-align: start; /* מתאים את הכיוון לפי השפה */
    direction: auto; /* מזהה אוטומטית את הכיוון */

  }
  
  quill-editor {
    width: 100%;
  }

  .mdc-text-field--outlined .mat-mdc-form-field-infix,
  .mdc-text-field--no-label .mat-mdc-form-field-infix {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: transparent !important;
  }
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

