/* You can add global styles to this file, and also import other style files */
/* .cdk-overlay-pane {
    position: absolute !important;
    z-index: 1000; /* ודא שהוא מופיע מעל כל רכיב אחר 
    transform: none !important;
  }

  html, body {
    margin: 0;
    padding: 0;
    overflow: visible !important;
  }
  
  .cdk-overlay-container {
    position: fixed;
    z-index: 1000;
  }
   */