<div class="favorites-container" dir="rtl">
  <h2>המועדפים שלי</h2>

  <div *ngIf="favorites.length === 0">
    <p>אין לך פריטים מועדפים.</p>
  </div>

  <div *ngIf="favorites.length > 0" class="favorites-grid">
    <div
      class="favorite-item"
      *ngFor="let favorite of favorites"
      (click)="navigateToItemPage(favorite.itemId)"
    >
      <img
        [src]="favorite.itemDetail?.coverImage || 'assets/default-image.png'"
        alt="Item Image"
      />
      <div class="item-details">
        <div class="item-title">{{ favorite.itemDetail?.title }}</div>
        <div class="item-description">
          {{ favorite.itemDetail?.description }}
        </div>
        <div class="item-meta">
          <span class="meta-label">מחבר:</span>
          <span class="meta-value">{{ favorite.itemDetail?.author }}</span> |
          <span class="meta-label">תאריך הוצאה:</span>
          <span class="meta-value">
            {{ favorite.itemDetail?.publicationDate | date: "dd/MM/yyyy" }}
          </span>
        </div>
        <button
          class="remove-button"
          (click)="removeFavorite(favorite.itemId) ; $event.stopPropagation()"
        >
          הסר מהמועדפים
        </button>
      </div>
    </div>
  </div>
</div>
