
<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline"  style="width: 100%;">
    <mat-label>{{data.label}}</mat-label>
    <input matInput [(ngModel)]="newVal" />
  </mat-form-field>
  <mat-form-field *ngIf="data.isDescription" appearance="outline"  style="width: 100%;">
    <mat-label >תיאור</mat-label>
    <textarea  matInput [(ngModel)]="description" ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="cancel()">ביטול</button>
  <button mat-raised-button color="primary" (click)="save()">שמור</button>
</mat-dialog-actions>



<h1 mat-dialog-title>Invalid Date</h1>
<div mat-dialog-content>{{ dat.message }}</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>OK</button>
</div>

